@model X.PagedList.IPagedList<Treningi.WebApp.CompetitorVM>
@using Microsoft.AspNetCore.Identity
@using System.Security.Principal;
@using PagedList.Mvc;
@using PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
<p>
    <a asp-action="Create">Create New</a>
</p>
<input type="search" class="search" id="searchrec" placeholder="Wyszukaj zawodnika" />
<table class="table" id="table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Forename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Date_of_birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CoachId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Image)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @if (User.IsInRole("Admin") || (User.IsInRole("Trener") && item.CoachId != null && item.CoachId.Equals(@ViewBag.Id)))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Forename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_of_birth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachId)
                    </td>
                    <td>
                        <img src="@("~/Image/"+item.UserImageId+".jpg")"  alt="Brak zdjęcia" onerror="this.onerror=null; this.src='/Image/default.jpg'"  asp-append-version="true" width="100px" height="100px" />
                    </td>
                    <td>
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit   ", "Edit", new { id = item.ID })
                                @Html.ActionLink("Delete   ", "Delete", new { id = item.ID })
                            }
                            else
                            {
                                @Html.ActionLink("Edit plan", "Editplan", "Activity", new { id = item.ID })

                            }
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.search').on('keyup', function () {
            var datasearch = $(this).val().toLowerCase();
            $("#table1 tr").each(function () {
                var stringdata = $(this).text().toLowerCase();
                if (stringdata.indexOf(datasearch) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    })

</script>