@model IEnumerable<Treningi.WebApp.CompetitorVM>
@using Microsoft.AspNetCore.Identity
@using System.Security.Principal;
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        Witaj @ViewBag.Id
        @foreach (var item in Model)
        {
            @if (User.IsInRole("Admin") || (User.IsInRole("Trener") && item.CoachId != null && item.CoachId.Equals(@ViewBag.Id)))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Forename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_of_birth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachId)
                    </td>
                    <td>
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit   ", "Edit", new { id = item.ID })
                                @Html.ActionLink("Details   ", "Details", new { id = item.ID })
                                @Html.ActionLink("Delete   ", "Delete", new { id = item.ID })
                            }
                            else
                            {
                                @Html.ActionLink("Edit plan", "Editplan", "Activity", new { id = item.ID })

                            }
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
